@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slider-logos {
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.slider-logos-slide {
    display: inline-flex;
    animation: 15s slide infinite linear both;
}

.slider-logos-slide img {
    height: 250px;
    margin: 10px;

    @media (max-width: 768px) {
        height: 125px !important;
        margin: 8px;
    }
}