.aol-input-wrap{
    position: relative;
    font-size: 14px;
}
.aol-input{
    display: block;
    width: 100%;
    padding-block: 0.65rem;
    border-bottom: 1px solid #c5c5c5;
}
.aol-input-label{
    pointer-events: none;
    position: absolute;
    transition: all 0.3s ease;
    top: 12px;
    color: #656565;
}

.aol-input:focus ~ .aol-input-label,
.aol-input:not(:placeholder-shown) ~ .aol-input-label{
    top: -10px;
    transform: scale(0.9) translateX(-5px);
    color: #333333;
}